
span{background-image: url(../images/KeyReplace.png);background-repeat: no-repeat;
	display:-moz-inline-box;
	display:inline-block;
	height: 22px;
	width: 17px;
	vertical-align: middle;}

.T_1{background-position: 0px 0px;}
.T_2{background-position: -17px 0px;}
.T_3{background-position: -34px 0px;}
.T_4{background-position: -51px 0px;}
.T_5{background-position: -68px 0px;}
.T_6{background-position: -85px 0px;}
.T_7{background-position: -102px 0px;}
.T_8{background-position: -119px 0px;}
.T_9{background-position: -136px 0px;}
.T_10{background-position: -153px 0px;}

.T_11{background-position: -170px 0px;}
.T_12{background-position: -187px 0px;}
.T_13{background-position: -204px 0px;}
.T_14{background-position: -221px 0px;}
.T_15{background-position: -238px 0px;}
.T_16{background-position: -255px 0px;}
.T_17{background-position: -272px 0px;}
.T_18{background-position: -289px 0px;}
.T_19{background-position: -306px 0px;}
.T_20{background-position: -323px 0px;}

.T_21{background-position: -340px 0px;}
.T_22{background-position: -357px 0px;}
.T_23{background-position: -374px 0px;}
.T_24{background-position: -391px 0px;}
.T_25{background-position: -408px 0px;}
.T_26{background-position: -425px 0px;}
.T_27{background-position: -442px 0px;}
.T_28{background-position: -459px 0px;}
.T_29{background-position: -476px 0px;}
.T_30{background-position: -493px 0px;}

.T_31{background-position: -510px 0px;}
.T_32{background-position: -527px 0px;}
.T_33{background-position: -544px 0px;}
.T_34{background-position: -561px 0px;}
.T_35{background-position: -578px 0px;}
.T_36{background-position: -595px 0px;}
.T_37{background-position: -612px 0px;}
.T_38{background-position: -629px 0px;}
.T_39{background-position: -646px 0px;}
.T_40{background-position: -663px 0px;}

.T_41{background-position: -680px 0px;}
.T_42{background-position: -697px 0px;}
.T_43{background-position: -714px 0px;}
.T_44{background-position: -731px 0px;}
.T_45{background-position: -748px 0px;}
.T_46{background-position: -765px 0px;}
.T_47{background-position: -782px 0px;}
.T_48{background-position: -799px 0px;}
.T_49{background-position: -816px 0px;}
.T_50{background-position: -833px 0px;}

.T_51{background-position: -850px 0px;}
.T_52{background-position: -867px 0px;}
.T_53{background-position: -884px 0px;}
.T_54{background-position: -901px 0px;}
.T_55{background-position: -918px 0px;}
.T_56{background-position: -935px 0px;}
.T_57{background-position: -952px 0px;}
.T_58{background-position: -969px 0px;}
.T_59{background-position: -986px 0px;}
.T_60{background-position: -1003px 0px;}

.T_61{background-position: -1020px 0px;}
.T_62{background-position: -1037px 0px;}
.T_63{background-position: -1054px 0px;}
.T_64{background-position: -1071px 0px;}
.T_65{background-position: -1088px 0px;}
.T_66{background-position: -1105px 0px;}
.T_67{background-position: -1122px 0px;}
.T_68{background-position: -1139px 0px;}
.T_69{background-position: -1156px 0px;}
.T_70{background-position: -1173px 0px;}

.T_81{background-position: -1190px 0px;}
.T_82{background-position: -1207px 0px;}
.T_83{background-position: -1224px 0px;}
.T_84{background-position: -1241px 0px;}
.T_85{background-position: -1258px 0px;}
.T_86{background-position: -1275px 0px;}
.T_87{background-position: -1292px 0px;}
.T_88{background-position: -1309px 0px;}
.T_89{background-position: -1326px 0px;}
.T_90{background-position: -1343px 0px;}

.T_91{background-position: -1360px 0px;}
.T_92{background-position: -1377px 0px;}
.T_93{background-position: -1394px 0px;}
.T_94{background-position: -1411px 0px;}
.T_95{background-position: -1428px 0px;}
.T_96{background-position: -1445px 0px;}
.T_97{background-position: -1462px 0px;}
.T_98{background-position: -1479px 0px;}
.T_99{background-position: -1496px 0px;}
.T_100{background-position: -1513px 0px;}

.T_101{background-position: -1530px 0px;}
.T_102{background-position: -1547px 0px;}
.T_103{background-position: -1564px 0px;}
.T_104{background-position: -1581px 0px;}
.T_105{background-position: -1598px 0px;}
.T_106{background-position: -1615px 0px;}
.T_107{background-position: -1632px 0px;}
.T_108{background-position: -1649px 0px;}
.T_109{background-position: -1666px 0px;}
.T_110{background-position: -1683px 0px;}

.T_111{background-position: -1700px 0px;}
.T_112{background-position: -1717px 0px;}
.T_113{background-position: -1734px 0px;}
.T_114{background-position: -1751px 0px;}
.T_115{background-position: -1768px 0px;}
.T_116{background-position: -1785px 0px;}
.T_117{background-position: -1802px 0px;}
.T_118{background-position: -1819px 0px;}
.T_119{background-position: -1836px 0px;}
.T_120{background-position: -1853px 0px;}

.T_121{background-position: -1870px 0px;}
.T_122{background-position: -1887px 0px;}
.T_123{background-position: -1904px 0px;}
.T_124{background-position: -1921px 0px;}
.T_125{background-position: -1938px 0px;}
.T_126{background-position: -1955px 0px;}
.T_127{background-position: -1972px 0px;}
.T_128{background-position: -1989px 0px;}
.T_129{background-position: -2006px 0px;}
.T_130{background-position: -2023px 0px;}

.T_131{background-position: -2040px 0px;}
.T_132{background-position: -2057px 0px;}
.T_133{background-position: -2074px 0px;}
.T_134{background-position: -2091px 0px;}
.T_135{background-position: -2108px 0px;}
.T_136{background-position: -2125px 0px;}
.T_137{background-position: -2142px 0px;}
.T_138{background-position: -2159px 0px;}
.T_139{background-position: -2176px 0px;}
.T_140{background-position: -2193px 0px;}

.T_141{background-position: -2210px 0px;}
.T_142{background-position: -2227px 0px;}
.T_143{background-position: -2244px 0px;}
.T_144{background-position: -2261px 0px;}
.T_145{background-position: -2278px 0px;}
.T_146{background-position: -2295px 0px;}
.T_147{background-position: -2312px 0px;}
.T_148{background-position: -2329px 0px;}
.T_149{background-position: -2346px 0px;}
.T_150{background-position: -2363px 0px;}

.T_151{background-position: -2380px 0px;}
.T_152{background-position: -2397px 0px;}
.T_153{background-position: -2414px 0px;}
.T_154{background-position: -2431px 0px;}
.T_155{background-position: -2448px 0px;}
.T_156{background-position: -2465px 0px;}
.T_157{background-position: -2482px 0px;}
.T_158{background-position: -2499px 0px;}
.T_159{background-position: -2516px 0px;}
.T_160{background-position: -2533px 0px;}

.T_161{background-position: -2550px 0px;}
.T_162{background-position: -2567px 0px;}
.T_163{background-position: -2584px 0px;}
.T_164{background-position: -2601px 0px;}
.T_165{background-position: -2618px 0px;}
.T_166{background-position: -2635px 0px;}
.T_167{background-position: -2652px 0px;}
.T_168{background-position: -2669px 0px;}
.T_169{background-position: -2686px 0px;}
.T_170{background-position: -2703px 0px;}


.T_171{background-position: -2720px 0px;}
.T_172{background-position: -2737px 0px;}
.T_173{background-position: -2754px 0px;}
.T_174{background-position: -2771px 0px;}
.T_175{background-position: -2788px 0px;}
.T_176{background-position: -2805px 0px;}
.T_177{background-position: -2822px 0px;}
.T_178{background-position: -2839px 0px;}
.T_179{background-position: -2856px 0px;}
.T_180{background-position: -2873px 0px;}

.T_181{background-position: -2890px 0px;}
.T_182{background-position: -2907px 0px;}
